---
---

@import "{{ site.theme }}";

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #344460;
}

strong {
  color: #3B7250;
}

p {
  font-size: 17px;
}

a {
  color: #3B7250;
}
